<div id="app">
  <nz-progress *ngIf="loadPercent < 100" nzStrokeWidth="5" [nzShowInfo]="false" nzStatus="active" [nzPercent]="loadPercent"></nz-progress>
  <nz-layout class="layout">
    <nz-header class="header">
      <div class="wrap">
        <div class="left">
          <h1>Music</h1>
          <ul nz-menu nzTheme="dark" nzMode="horizontal">
            <li nz-menu-item *ngFor="let item of menu" [nzSelected]="routerTitle === item.label" [routerLink]="item.path">{{item.label}}</li>
          </ul>
        </div>
        <div class="right">
          <app-wy-search (onSearch)="onSearch($event)" [searchResult]="searchResult"></app-wy-search>
          <div class="member">

            <div class="no-login" *ngIf="!user else logined">
              <ul nz-menu nzTheme="dark" nzMode="horizontal">
                <li nz-submenu>
                  <div title>
                    <span>登录</span>
                    <i nz-icon nzType="down" nzTheme="outline"></i>
                  </div>
                  <ul>
                    <li nz-menu-item (click)="openModalByMenu('loginByPhone')">
                      <i nz-icon nzType="down" nzTheme="outline"></i>
                      手机登录
                    </li>
                    <li nz-menu-item (click)="openModalByMenu('register')">
                      <i nz-icon nzType="down" nzTheme="outline"></i>
                      注册
                    </li>
                  </ul>
                </li>
              </ul>
            </div>

            <ng-template #logined>
              <div class="login">
                  <ul nz-menu nzMode="horizontal" nzTheme="dark">
                    <li nz-submenu>
                      <div title>
                        <nz-avatar nzIcon="user" [nzSrc]="user.profile.avatarUrl" ></nz-avatar>
                        <i nz-icon nzType="down" nzTheme="outline"></i>
                      </div>
                      <ul>
                        <li nz-menu-item [routerLink]="['member', user.profile.userId]">
                          <i nz-icon type="user" nzTheme="outline"></i>我的主页
                        </li>
                        <li nz-menu-item (click)="outLogin()">
                          <i nz-icon type="close-circle" nzTheme="outline"></i>退出
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
            </ng-template>

          </div>
        </div>
      </div>
    </nz-header>
    <nz-content class="content">
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer class="footer">
      Ant Design @2020 Implement By Angular
    </nz-footer>
  </nz-layout>

  <app-wy-player></app-wy-player>
  <app-wy-layer-modal
  [visible]="visible"
  [showSpin]="showSpin"
  [currentModalType]="currentModalType">
    <app-wy-layer-like
    name="like"
    [mySheets]="mySheets"
    [likeId]="likeId"
    [visible]="visible"
    (onChangeModalType)="onChangeModalType($event)"
    (onLikeSong)="onLikeSong($event)"
    (onCreateSheet)="onCreateSheet($event)"
    >
    </app-wy-layer-like>

    <app-wy-layer-login
    name="login"
    [visible]="visible"
    [wyRememberLogin]="wyRememberLogin"
    (onChangeModalType)="onChangeModalType($event)"
    (onLogin)="onLogin($event)">
    </app-wy-layer-login>

    <app-wy-layer-default
    (onChangeModalType)="onChangeModalType($event)">
    </app-wy-layer-default>

    <app-wy-layer-register
    name="register"
    [visible]="visible"
    (onChangeModalType)="onChangeModalType($event)"
    (onRegister)="onRegister($event)">
    </app-wy-layer-register>

    <app-wy-layer-share
    name="share"
    [visible]="visible"
    [shareInfo]="shareInfo"
    (onChangeModalType)="onChangeModalType($event)"
    (onCancel)="handleModal()"
    (shareResource)="shareResource($event)">
    </app-wy-layer-share>
  </app-wy-layer-modal>
</div>

<nz-back-top [nzTemplate]="tpl">
  <ng-template #tpl>
    <div class="ant-back-top-inner">
      <button nz-button nzType="primary" nzSize="large">
        <i nz-icon nzType="to-top" nzTheme="outline"></i>
      </button>
    </div>
  </ng-template>
</nz-back-top>
