<div class="login-phone modal-content">
  <div class="modal-wrap">
    <form nz-form class="login-form" [formGroup]="formModal" (ngSubmit)="submitFormData()">

      <nz-form-item>
        <nz-form-control nzHasFeedback nzErrorTip="请输入正确的手机号">
          <nz-input-group nzPrefixIcon="mobile">
            <input nz-input type="tel" placeholder="请输入手机号" formControlName="phone">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzHasFeedback nzErrorTip="请输入正确的密码">
          <nz-input-group nzprefixIcon="lock">
            <input nz-input type="password" placeholder="请输入密码" formControlName="password">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <div class="tools">
            <label nz-checkbox class="remember" formControlName="remember">
              <span>记住密码</span>
            </label>
          </div>
        </nz-form-control>
      </nz-form-item>

      <button nz-button [disabled]="!formModal.valid" class="login-form-button" nzType="primary" nzBlock>登录</button>
    </form>
  </div>
</div>

<div class="m-footer clearfix">
  <a (click)="onChangeModalType.emit('default')">&lt; 其他登录方式</a>
  <a (click)="onChangeModalType.emit('register')">没有账号?免费注册</a>
</div>
